<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seghegfa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <style>
    ul{
        word-break: break-word;
    }
   </style>
</head>
<body>
    
    <div class="d-flex align-items-center justify-content-center text-center" style="min-height: 80vh;">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                        <!--file:///D:\Nový priečinok\DALL_E_2023-03-02_18.49.25_-_Create_my_search_engine_logo_with_a_koala_holding_magnifying_glass_in_teal_colour-removebg-preview.png-->
                        <a href="/"><img src="static/dalle_logo.png" class="img-fluid" alt="Seghegfa logo"></a>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col col-lg-12">
                        <h1></h1>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col col-lg-12">
                        <form method="GET" action="/search">
                            
                            
                            <div class="input-group input-group-lg">
                                <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">Šírka výberu:</span>
                                <input type="number" id="window_size" name="window_size" min="1" max="10" aria-label="Windowsize" placeholder="3">
                            </div>
                                </div>
                                
                                <input type="text" name="q_word" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-secondary" type="submit" value="Hľadaj">
                                </div>
                                
                                
                            
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="row" style="padding-top: 1vh;">
                        <div class="col col-lg-12">
                            <h5>Nahrané súbory:</h5>
                            <ul class="list-group">
                                {%for item in uploaded_files_names%}  
                                        <li class="list-group-item">{{item}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <footer>
        <div class="container  text-center">
            <h6>Vytvoril: Jakub Čieško</h6>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>